##Reading data

In [ ]:
import csv

filename = "Studetns_project - Sheet1.csv"

fields = []
rows = []

with open(filename, 'r') as csvfile:
  csvreader = csv.reader(csvfile)
  fields = next(csvreader)
  for row in csvreader:
    rows.append(row)

print("Total no. of rows: ",csvreader.line_num)
print(fields)
print(rows)

Total no. of rows:  5
['Name', 'Last name ', 'Email', 'Math', 'Physics', 'IT', 'English']
[['Sim', 'Foo', 's.foo@school.edu', '100', '80', '95', '92'], ['Ahmad', 'Hamdan', 'a.hamdan@school.edu', '80', '75', '87', '50'], ['James', 'Willson', 'j.willson@school.edu', '72', '84', '93', '67'], ['Mark', 'Cuban', 'm.cuban@school.edu', '63', '81', '99', '73']]

##Calc the Avg for each subj

In [ ]:
def course_index(course,fields):
  for i in range(len(fields)):
    if course.lower() == fields[i].lower():
      return i
  return None

def avg(row,course):
  i = course_index(course,fields)
  if i == None:
    return 'Course not found'
  sum = 0
  for line in rows:
    if line[i].isnumeric():
      sum += float(line[i])
  avg = sum/len(rows)
  return avg

print(avg(rows,'Chem'))

Course not found

##No. of students who failed given course
any grade below 60 is a fail

In [ ]:
def num_failed_stud(row,course):
  i = course_index(course,fields)
  if i == None:
    return 'Course not found'
  failed = 0
  for line in rows:
    if line[i].isnumeric:
      if float(line[i]) < 60:
        failed += 1
  return failed

print(num_failed_stud(rows,'English'))

1

##List of students that failed given course

In [ ]:
def list_failed_stud(row,course):
  i = course_index(course,fields)
  if i == None:
    return 'Course not found'
  failed_names = []
  for line in rows:
    if line[i].isnumeric:
      if float(line[i]) < 60:
        failed_names.append(line[0] + ' ' + line[1])
  return failed_names

print(list_failed_stud(row,'English'))

['Ahmad Hamdan']

##Transforms a numeric grade to a letter grade

In [ ]:
def transntol(num):
      l = float(num)
      if l< 60:
        grade = 'F'
      if l>= 60 and l<70:
        grade = 'D'
      elif l>=70 and l<80:
        grade = 'C'
      elif l>=80 and l<90:
        grade = 'B'
      else:
        grade = 'A'
      return grade

print(transntol(75))

C

In [ ]:
def transform_all(rows,course):
  i = course_index(course,fields)
  if i == None:
    return 'Course not found'
  grades = []
  for line in rows:
    if line[i].isnumeric:
      l = line[i]
      grade = transntol(l)
      grades.append(grade)
  return grades

print(transform_all(rows,'physics'))

['B', 'C', 'B', 'B']

##Counts number of A,B,C,D,Fs in given course

In [ ]:
def gradescounter(course):
  A = 0
  B = 0
  C = 0
  D = 0
  F = 0
  grades = transform_all(rows,course)
  for g in grades:
    if g == 'A':
      A += 1
    elif g == 'B':
      B += 1
    elif g == 'C':
      C += 1
    elif g == 'D':
      D += 1
    elif g == 'F':
      F += 1
  return [A, B, C, D, F]

print(gradescounter('Math'))

[1, 1, 1, 1, 0]

##Calculates percentage of each letter grade of given course

In [ ]:
def letter_percentage(rows,course):
  allgrades = gradescounter(course)
  pA = (allgrades[0]/len(rows))*100
  pB = (allgrades[1]/len(rows))*100
  pC = (allgrades[2]/len(rows))*100
  pD = (allgrades[3]/len(rows))*100
  pF = (allgrades[4]/len(rows))*100

  return [pA, pB, pC, pD, pF]

print(letter_percentage(rows,'Math'))

(25.0, 25.0, 25.0, 25.0, 0.0)

###presented in text

In [ ]:
def present_letter_percentage(rows, course):
  l = letter_percentage(rows, course)
  a = "Percentage of A grades: " + str(l[0]) + "%\n"
  b = "Percentage of B grades: " + str(l[1]) + "%\n"
  c = "Percentage of C grades: " + str(l[2]) + "%\n"
  d = "Percentage of D grades: " + str(l[3]) + "%\n"
  f = "Percentage of F grades: " + str(l[4]) + "%\n"
  s = a + b + c + d + f
  return s

print(str(present_letter_percentage(rows,"MATH")))

Percentage of A grades: 25.0%
Percentage of B grades: 25.0%
Percentage of C grades: 25.0%
Percentage of D grades: 25.0%
Percentage of F grades: 0.0%

##Search for student's row

In [ ]:
def search_stud(firstname,lastname, rows):
  for row in rows:
    r_lower = [i.lower() for i in row if row]
    if firstname.lower() in r_lower and lastname.lower() in r_lower:
      return row
  return None

print((search_stud("Sim", "foo",rows)))

['Sim', 'Foo', 's.foo@school.edu', '100', '80', '95', '92']

##Average grade for each student

In [ ]:
courses = ["Math","Physics","IT","English"]
def avg_grade_stud(firstname,lastname, rows, courses):
  overall = 0
  row = search_stud(firstname,lastname,rows)
  if row == None:
    return f"{firstname} {lastname} does not exist"
  else:
    for i in row:
      if i.isnumeric():
        overall += float(i)
    avg = str(overall/len(courses)) + "%"
    return f"Average for {firstname} {lastname}: {avg}"


print(avg_grade_stud("Sim","Foo",rows,courses))

Average for Sim Foo: 91.75%

##Calculating the lower, middle, and upper quartiles for given course

##Calculating Range and Interquartile ranges for given course